/node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/dist/
/build/
/experiments/wasm/build/
*.js
!**/flights.js
!assets/*.js
!examples/multidim/**/*.js
!examples/ticker/**/*.js
!examples/trades/**/*.js
!mockups/**/*.js
